* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#header {
    background-color: black;
    height: 135px;
    width: 100%;
    background-color: white;
}

#header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .header-right a {
    color: black;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}
