#banner {
    padding-top: 55%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-image: url('../../img/slider_2.png');
    background-position: center;
    background-size: cover;
}
